/* ==========================================================================
 * Fonts
============================================================================= */


/* ==========================================================================
 * Variables
============================================================================= */

:root {
	/* Colors */
  --dark-color: #1A1A1A;
	--light-color: #F2EFE8;
	--accent-color: #8C6DB5;
}

/* ==========================================================================
 * General styles
============================================================================= */

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: var(--dark-color);
	color: var(--light-color);
}

a {
	color: var(--light-color);
}
